/*---------------------------------------------------------------------------------------*/
/*ОБЩИЕ ПАРАМЕТРЫ*/
/*---------------------------------------------------------------------------------------*/

/*I группа - Параметры "body" и заголовков -----------------------------------------------*/
body {
	margin: 0;

	padding: 0;

	font-family: "open sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	color: #464646;
}

h1, h2 {
	margin: 0;

	font-family: "gilroy", sans-serif;
	font-size: 47px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	color: #000000;
}

h3 {
	margin: 0;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	color: #000000;
}

/*II группа - Параметры ссылок и кнопок -------------------------------------------------*/
a {
	text-decoration: none;
	color: #000000;
	}

button {
		background: none;

		outline: none;
		border: none;

		cursor: pointer;
	}



/*---------------------------------------------------------------------------------------*/
/*ХЕДЕР*/
/*---------------------------------------------------------------------------------------*/

/*Параметры Хедера ----------------------------------------------------------------*/
.page-header {
	position: relative;
	margin-top: 40px;

	min-height: 186px;

	font-size: 0;

	background-color: #f7e296;
}


/*Группа I - Логотип --------------------------------------------------------------------*/
.header-logo {
	position: absolute;
	top: -29px;
	margin-left: -3px;

	font-family: "gilroy", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	text-transform: uppercase;
}

.header-logo:hover {
	color: #464646;
}

.header-logo:active {
	color: #666666;
}


/*Группа II - Форма поиска --------------------------------------------------------------*/
.form-search {
	position: relative;
	margin-top: 36px;
	margin-right: 130px;

	display: inline-block;

	vertical-align: top;
}

.search {
	padding-top: 2px;
	padding-bottom: 6px;
	padding-left: 39px;
	width: 355px;

	font-size: 15px;
	letter-spacing: 0.001em;

	background-color: inherit;

	border: none;

	transition: border-color 0.2s;
}

.icon-search {
	background-image: url("../img/header-search.png");
 	background-repeat: no-repeat;
 	background-position: 3px 3px;
}


.search::-webkit-input-placeholder {
	color: #cab97b;
}

.search::-moz-placeholder {
	color: #cab97b;
}

.search:hover::-webkit-input-placeholder {
	color: #988b5c;
}

.search:hover::-moz-placeholder {
	color: #988b5c;
}

.search:focus::-webkit-input-placeholder {
	color: #000000;
}

.search:focus::-moz-placeholder {
	color: #000000;
}

.search:focus {
	outline: none;
	border-bottom: 2px solid #000000;
}

.search:focus ~ .button-search {
	opacity: 1;
}

.button-search {
	position: relative;
	bottom: 6px;

	width: 81px;
	height: 45px;

	font-family: "open sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.001em;

	background-color: inherit;

	outline: none;
	border: 2px solid #000000;

	opacity: 0;

	transition: opacity 0.2s;
}

.button-search:hover {
	color: #ffffff;

	background-color: #000000;
}

.button-search:active {
	opacity: 1;

	color: #747474;

	background-color: #000000;
}


/*Группа III - Действия пользователя ----------------------------------------------------*/
.header-action {
	position: relative;
	margin-top: 40px;
	margin-bottom: 38px;

	display: inline-block;

	font-family: "open sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.001em;
	vertical-align: top;
}

.header-action:nth-child(3) {
	margin-right: 236px;
}

.header-action:nth-child(3)::before {
	content: "";
	position: absolute;
	top: 12px;
	left: -26px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/header-user.png");
	background-repeat: no-repeat;
}

.header-action:nth-child(4) {
	margin-right: 60px;
}

.header-action:nth-child(4)::before {
	content: "";
	position: absolute;
	top: 14px;
	left: -19px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/header-compare.png");
	background-repeat: no-repeat;
}

.header-action:nth-child(5) {
	margin-right: 0;
}

.header-action:nth-child(5)::before {
	content: "";
	position: absolute;
	top: 12px;
	left: -20px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/header-cart.png");
	background-repeat: no-repeat;
}

.header-action:hover,
.header-action:hover::before {
	opacity: 0.6;
}

.header-action:active,
.header-action:active::before {
	opacity: 0.3;
}


/*Группа IV - Навигация -----------------------------------------------------------------*/
.primary-menu {
	margin: 0;

	padding: 0;

	list-style: none;
}

/*Подгруппа IV.I - Основная навигация----------*/

.primary-list {
	position: relative;

  display: inline-block;
}

.primary-list:first-child {
	margin-right: 322px;
	margin-left: -1px;
}

.primary-list:first-child:hover .secondary-menu {
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.primary-link {
	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.catalog-link {
	position: relative;
}

.catalog-link::after {
	content: "";
	position: absolute;
	right: -21px;
	bottom: 3px;

	width: 2px;
	height: 16px;

	background-color: #b8a974;
}

.catalog-link::before {
	content: "";
	position: absolute;
	right: -28px;
	bottom: 10px;

	width: 16px;
	height: 2px;

	background-color: #b8a974;
}

.primary-list:nth-child(2) {
	margin-right: 34px;
}

.primary-list:nth-child(3) {
	margin-right: 109px;
}

.primary-list:last-child {
	width: 117px;
}

.primary-link:hover,
.primary-list:first-child:hover::after,
.primary-list:first-child:hover::before {
	opacity: 0.6;
}

.primary-link:active,
.primary-list:first-child:active::after,
.primary-list:first-child:active::before {
	opacity: 0.3;
}

/*Подгруппа IV.II - Дополнительная навигация----------*/
.secondary-menu {
	position: absolute;
	left: -59px;

	padding-top: 12px;
	padding-left: 61px;
	width: 1099px;
	height: 142px;

	font-family: "open sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.001em;
	list-style: none;

	background-color: #f7e296;

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s,
							visibility 0.3s;
}

.secondary-block1 {
	margin-right: 51px;

	display: inline-block;

	vertical-align: top;
}

.secondary-block2 {
	margin-right: 62px;

	display: inline-block;

	vertical-align: top;
}

.secondary-block3 {
	display: inline-block;

	vertical-align: top;
}



/*---------------------------------------------------------------------------------------*/
/*ОСНОВОЕ СОДЕРЖАНИЕ ГЛАВНОЙ СТРАНИЦЫ*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Слайдер --------------------------------------------------------------------*/
.page-main {
	margin-bottom: 81px;
}

.slider {
	position: relative;

	width: 1100px;
	height: 481px;
}

.slider::before {
	content: "";
	position: absolute;

	width: 1160px;
	min-height: 114px;

	background-color: #f7e296;
}

.slider::after {
	content: "";
	position: absolute;
	top: 39px;
	right: 400px;

	width: 100px;
	height: 7px;

	background-color: #ffffff;
}

/*Подгруппа I.I - Кнопкпи управления слайдером ----------------*/
.slider-radio {
	display: none;
}

.slider-controls {
	position: absolute;
	top: 319px;
	left: 1000px;

	z-index: 2;
}

.slider-label {
	margin-right: 20px;

	display: inline-block;
	width: 4px;
	height: 4px;


	border: 3px solid #b2b2b2;
	border-radius: 50%;
	cursor: pointer;

	transition: border-color 0.2s;
}

.slider-label:last-child {
	margin-right: 0;
}

.slider-label:hover{
	border-color: #999999;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border-color: #000000;
}

#btn-1:checked ~ .slide1 {
    opacity: 1;
		z-index: 1;
}

#btn-2:checked ~ .slide2  {
    opacity: 1;
		z-index: 1;
}

#btn-3:checked ~ .slide3 {
  	opacity: 1;
		z-index: 1;
}

/*Подгруппа I.II - Наполнение слайдера -----------------------*/
.slide1,
.slide2,
.slide3 {
	position: absolute;

	opacity: 0;

	transition: opacity 0.3s;
}

/*Подгруппа I.II.I - Текстовая информация слайдов*/
.slide-info {
	position: relative;
	margin-top: 81px;
	margin-left: 31px;

	float: right;
	width: 493px;
}

.slide-paragraf {
	margin-top: 19px;
	margin-left: 2px;

	letter-spacing: 0.001em;
}

.slide-more {
	position: relative;
	margin-top: 44px;
	margin-left: 3px;

	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	width: 220px;
	height: 22px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;

	transition: background-color 0.2s,
							color 0.2s;
}

.slide-more::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 0px;

	width: 220px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.slide-more:hover {
	background-color: #f0c52e;
}

.slide-more:active {
	color: #bd9b24;

	background-color: #f0c52e;
}

.slide-table {
	margin-top: 52px;
	margin-left: 2px;

	display: table;
}

.slide-table-row1 {
	display: table-row;

	font-family: "gilroy", sans-serif;
	font-size: 36px;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	color: #000000;
}

.slide-table-row2 {
	display: table-row;

	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.001em;
}

.slide-table-cell {
	display: table-cell;
	padding-bottom: 9px;

	vertical-align: middle;
}

.slide1 .slide-table-cell:first-child {
	padding-right: 79px;
}

.slide1 .slide-table-cell:nth-child(2) {
	padding-right: 75px;
}

.slide3 .slide-table-cell:first-child {
	padding-right: 45px;
}

/*Подгруппа I.II.II - Изображения слайдов*/
.slide-img {
	margin-right: 40px;

	float: right;
	width: 526px;

	text-align: center;
}

.slide1 .slide-img {
	margin-top: 2px;
}

.slide-img1{
	margin-left: 38px;
}

.slide2 .slide-img {
	margin-top: 14px;
}

.slide-img2 {
	margin-left: 52px;
}

.slide3 .slide-img {
	margin-top: 67px;
}

.slide-img3 {
	margin-left: 31px;
}

/*Подгруппа I.II.III - Номера слайдов*/
.slide-info::before,
.slide-info::before,
.slide-info::before {
	position: absolute;
	top: -93px;
	right: -22px;

	font-family: "gilroy", sans-serif;
	font-size: 179.2px;
	font-weight: 900;
	line-height: 1em;
	letter-spacing: 0.001em;
	text-transform: uppercase;
	color: #ffffff;

	z-index: -1;
}

.slide1 .slide-info::before {
	content: "01";
}

.slide2 .slide-info::before {
	content: "02";
}

.slide3 .slide-info::before {
	content: "03";
}


/*Группа II - Дополнительная навигация по каталогу --------------------------------------*/
.catalog-sections {
	margin-top: 113px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.001em;
}

.c-section {
	margin-right: 40px;

	float: left;
	width: 160px;
}

.c-section:last-child{
	margin-right: 0;
}

.section-name {
	margin-top: 35px;

	display: block;
}

.section-background {
	display: table-cell;
	width: 160px;
	height: 160px;

	vertical-align: middle;
	text-align: center;

	background-color: #f7e296;
}

.section-img1 {
	position: relative;
	top: 2px;
}

.section-img2 {
	position: relative;
	top: 24px;
	left: 1px;
}

.section-img3 {
	position: relative;
	top: 4px;
	left: 5px;
}

.section-img4 {
	position: relative;
	top: 5px;
	left: 2px;
}

.section-img5 {
	position: relative;
	top: 4px;
	left: 3px;
}

.section-img6 {
	position: relative;
	top: 6px;
	right: 1px;
}

.c-section:hover .section-background,
.c-section:active .section-background {
	background-color: #f0c52e;

	transition: background-color 0.2s;
}

.c-section:active [class*="section-img"],
.c-section:active .section-name {
	opacity: 0.3;

	transition: opacity 0.2s;
}


/*Группа III - Дополнительные услуги (Слайдер) ------------------------------------------*/
.services {
	margin-top: 165px;
}

/*Подгруппа III.I - Кнопки управления слайдером -----------------*/
.service-radio {
	display: none;
}

.services-controls {
	position: relative;

	float: left;
	width: 160px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.services-controls::after {
	content: "";
	position: absolute;
	top: -80px;
	right: -124px;

	width: 7px;
	height: 319px;

	background-color: #000000;
}

.service-label {
	position: relative;
	margin-bottom: 24px;

	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 20px;

	color: #000000;

	cursor: pointer;

	transition: background-color 0.2	s,
							color 0.3s;
}

.service-label:first-child {
	padding-left: 24px;
}

.service-label:nth-child(2) {
	padding-left: 29px;
}
.service-label:last-child {
	padding-left: 42px;
}

.service-label::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;

	width: 100%;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.service-label::after {
	content: "";
	position: absolute;
	top: 0;
	right: -120px;

	width: 100%;
	height: 100%;

	z-index: -1;
}

.service-label:hover {
	background-color: #f0c52e;

	transition: background-color 0.2s;
}

#btn-4:checked ~ .services-controls label[for="btn-4"],
#btn-4:checked ~ .services-controls label[for="btn-4"]::after,
#btn-5:checked ~ .services-controls label[for="btn-5"],
#btn-5:checked ~ .services-controls label[for="btn-5"]::after,
#btn-6:checked ~ .services-controls label[for="btn-6"],
#btn-6:checked ~ .services-controls label[for="btn-6"]::after {
		color: #f7e184;

		background-color: #000000;

		transition: color 0.2s,
								background-color 0.2s;
}

#btn-4:checked ~ .services-inner .service1 {
    opacity: 1;
		z-index: 1;
}

#btn-5:checked ~ .services-inner .service2  {
    opacity: 1;
		z-index: 1;
}

#btn-6:checked ~ .services-inner .service3 {
  	opacity: 1;
		z-index: 1;
}


/*Подгруппа III.II - Наполнение слайдера ------------------------*/
.services-inner {
	margin-top: -11px;

	float: right;
	width:820px;
}

.service-info {
	margin-left: 61px;

	float: left;
	width: 440px;
}

.service-paragraf {
	margin-top: 27px;
}

.service-img {
	margin-top: 16px;

	float: right;
}

.service1,
.service2,
.service3 {
	position: absolute;

	width: 754px;

	opacity: 0;

  transition: opacity 0.3s;
}


/*Группа IV - Партнеры ------------------------------------------------------------------*/
.partners-list {
	margin-top: 210px;

	font-size: 0;
}

 .partner {
	margin-right: 40px;

	display: inline-block;
	width: 260px;
	height: 100px;

	vertical-align: top;

	filter: grayscale(100%);
  opacity: 0.2;
}

.partner:nth-child(3) {
 margin-right: 37px;

}

.partner:last-child {
 margin-right: 0;
}

.partner:hover {
	filter: grayscale(0);
  opacity: 1;

	transition: filter 0.2s,
							opacity 0.2s.
}


/*Группа V - О нас ----------------------------------------------------------------------*/
.about {
	margin-top: 141px;
}

/*Подгруппа V.I - Блок с информацией ----------------------------*/
.about-info {
	position: relative;
	margin-left: -1px;

	float: left;
	width: 500px;
}

.about-info::before {
	content: "";
	position: absolute;
	top: -48px;
	left: 1px;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.about-paragraf1 {
	margin-top: 39px;
}

.about-paragraf2 {
	margin-top: 30px;
	margin-bottom: 66px;
}

.transport-company {
	margin: 0;
	margin-left: 36px;

	list-style: none;

	padding: 0;
}

.transport-company li {
	position: relative;

	font-family: "gilroy", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
}

.transport-company li::before {
	content: "";
	position: absolute;
	top: 15px;
	left: -36px;

	width: 4px;
	height: 4px;

	border:  3px solid #b2b2b2;
	border-radius: 50%;
}

.about-more {
	position: relative;
	margin-top: 55px;

	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 23px;
	width: 247px;
	height: 22px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	transition: border-color 0.2s,
							color: 0.2s;
}

.about-more::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 1px;

	width: 260px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.about-more:hover {
	background-color: #f0c52e;
}

.about-more:active {
	color: #bd9b24;
}

/*Подгруппа V.II - Блок с картой --------------------------------*/
.about-contacts {
	position: relative;
	margin-left: 98px;

	float: left;
	width: 560px;
}

.about-contacts::before {
	content: "";
	position: absolute;
	top: -48px;
	left: 3px;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.about-paragraf3 {
	margin-top: 39px;
	margin-left: 1px;
}

.button-map {
	position: relative;
	margin-top: 23px;
	margin-left: -3px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.button-map:hover .button-image  {
	opacity: 0.7;

	transition: opacity 0.3s;
}

.button-map:hover .button-action {
	opacity: 1;
}

.button-write {
	position: relative;
	margin-top: 60px;
	margin-left: 4px;

	width: 260px;
	height: 40px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.button-write::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;

	width: 260px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.button-write:hover {
	background-color: #f0c52e;
}

.button-write:active {
	color: #bd9b24;
}



/*---------------------------------------------------------------------------------------*/
/*ОСНОВОЕ СОДЕРЖАНИЕ СТРАНИЦЫ "КАТАЛОГ"*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Хлебные крошки -------------------------------------------------------------*/
.breadcrumbs {
	margin-top: 33px;
}

.breadcrumbs-page {
	margin-top: 14px;
	margin-right: 31px;

	display: inline-block;

	font-family: "open sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.001em;
	color: #d1d1d1;
	vertical-align: top;
}


/*Группа II - Блок фильтра --------------------------------------------------------------*/
.filter {
	margin-top: 59px;
	margin-left: 60px;

	float: left;
	width: 270px;
	min-height: 1264px;
}

.filter-name {
	font-family: "gilroy", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.filter-form {
	margin-top: 104px;
}

/*Подгруппа II.I - Выбор цены ------------------------------------*/
.filter-price {
	margin-bottom: 45px;
}

.filter-range {
	margin-top: 36px;
	margin-bottom: 6px;

  width: 200px;
}

.range-controls {
  position: relative;
}

.range-scale {
  height: 2px;

  background: #dbdbdb;
}

.range-bar {
	margin-left: 0;

	width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -6px;
  left: 0;

  width: 10px;
  height: 10px;

  background: #eeeeee;

  border: 2px solid #000000;
  border-radius: 50%;
	cursor: pointer;
}

.toggle-min {
  left: -2px;
}

.toggle-max {
  left: 110px;
}

.min-price {
	margin-right: 60px;
	margin-left: -1px;

	font-size: 14px;
	line-height: 1em;
	color: #d3d3d3;
}

.max-price {
	font-size: 14px;
	line-height: 1em;
	color: #d3d3d3;
}

/*Подгруппа II.II - Выбор цвета ----------------------------------*/
.filter-color {
	margin-bottom: 45px;
}

.color-checkbox {
	position: relative;

	display: inline-block;
	padding-left: 38px;

	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.001em;

	cursor: pointer;
}

.color-checkbox:nth-child(2) {
	margin-top: 19px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 8px;
	left: -2px;

	width: 23px;
	height: 23px;

	background-color: #dbdbdb;
}

/*Подгруппа II.III - Наличие блютус ------------------------------*/
.filter-bluetooth {
	margin-bottom: 36px;
}

.bluetooth-radio {
	position: relative;

	display: inline-block;
	padding-left: 38px;

	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.001em;

	cursor: pointer;
}

.bluetooth-radio:nth-child(2) {
	margin-top: 19px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 8px;
	left: -2px;

	width: 19px;
	height: 19px;

	background-color: #dbdbdb;

	border: 2px solid #c6c6c6;
	border-radius: 50%;
}

/*Подгруппа II.IV - Кнопка фильтра -------------------------------*/
.filter-show {
	width: 200px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}

/*Группа III - Блок блок сортировки -----------------------------------------------------*/
.sorting {
	margin-top: 59px;

	float: right;
	width: 760px;
	min-height: 1264px;
}

/*Подгруппа III.I - Типы сортировки -----------------------------*/
.sorting-type {
	margin: 0;
	margin-top: 6px;

	padding: 0;

	list-style: none;
}

.sorting-type li {
	margin-right: 25px;

	display: inline-block;

	font-size: 14px;
	line-height: 18px;
	vertical-align: top;
}

.sorting-type li:first-child {
	margin-right: 52px;

	font-family: "gilroy", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.sorting-action  {
	color: #c0c0c0;
}

/*Подгруппа III.II - Элементы сортировки ------------------------*/
.sorting-items {
	margin-top: 84px;
}

.item {
	margin-right: 40px;
	margin-bottom: 48px;

	float: left;
	width: 360px;
	min-height: 458px;
}

.item:nth-child(2n) {
	margin-right: 0;
}

.item:nth-child(4n),
.item:nth-child(4n-1) {
	margin-bottom: 37px;
}

.item-image {
	width: 360px;
	height: 380px;
}

.item-text {
	margin-top: 35px;
}

.item-name {
	float: left;
	width: 260px;
}

.item-price {
	margin: 0;

	float: right;
	width: 90px;

	font-family: "gilroy", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.001em;
	text-align: right;
}

/*Подгруппа III.III - Пагинатор ----------------------------------*/
.paginator {
	display: table-cell;
	width: 760px;
	height: 70px;

	vertical-align: middle;

	background-color: #ebebeb;
}

.paginator-actions {
	margin: 0;

	padding: 0;
	width: 100%;

	font-family: "gilroy", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	list-style: none;
}

.paginator-actions li {
	display: inline-block;
	min-width: 20px;

	vertical-align: top;
}

.paginator-actions li:first-child {
	margin-right: 231px;
	margin-left: 30px;
}

.paginator-actions li:nth-child(2) {
	margin-right: 11px;
}

.paginator-actions li:nth-child(3) {
	margin-right: 7px;
}

.paginator-actions li:last-child {
	margin-left: 219px;
}



/*---------------------------------------------------------------------------------------*/
/*ФУТЕР*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Общие параметры футера------------------------------------------------------*/
.page-footer {
	padding-top: 55px;
	min-height: 268px;

	background-color: #464646;
}

.contacts {
	color: #ebebeb;
}


/*Группа II - Параметры первого блока----------------------------------------------------*/
.footer-block1 {
	position: relative;

	float: left;
	width: 260px;
}

.footer-block1::after {
	content: "";
	position: absolute;
	top: 182px;

	width: 80px;
	height: 7px;

	background-color: #f7e184;
}

.footer-logo {
	margin-bottom: 18px;
	margin-left: -3px;

	display: block;

	font-family: "gilroy", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.001em;
	text-transform: uppercase;
	color: #f7e184;
}

.footer-logo:hover {
	color: #f0c52e;
}

.footer-logo:active {
	color: #85743f;
}


/*Группа III - Параметры второго блока---------------------------------------------------*/
.footer-block2 {
	float: left;

	text-align: center;
}

.footer-main-nav {
	margin-top: 83px;
	margin-left: 32px;

	width: 550px;
}

.footer-nav {
	margin: 0;

	padding: 0;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	list-style: none;
}

.footer-nav-item {
	display: inline-block;

	vertical-align: top;
}

.footer-nav-item:first-child {
	margin-right: 26px;
}

.footer-nav-item:nth-child(2) {
	margin-right: 36px;
}

.footer-nav-item a {
	color: #ebebeb;
}

.footer-nav-item:hover {
	opacity: 0.6;
}

.footer-nav-item:active {
	opacity: 0.3;
}

.social {
	margin-top: 62px;
	margin-right: 185px;
	margin-left: auto;

	width: 153px;

	font-size: 0px;
}

.social-icon {
	display: inline-block;
	width: 40px;
	min-height: 38px;

	vertical-align: top;

	background: transparent url("../img/sprites.png") no-repeat;

	opacity: 0.3;
}

.icon-fb {
	margin-right: 14px;

	background-position: -5px -5px;
}

.icon-inst {
	margin-right: 15px;

	background-position: -54px -5px;
}

.icon-tw {
	background-position: -5px -53px;
}

.social-icon:hover {
	opacity: 0.6;
}

.social-icon:active {
	opacity: 0.1;
}


/*Группа IV - Параметры третьего блока---------------------------------------------------*/
.footer-block3 {
	margin-top: 5px;

	float: right;
	width: 300px;

	text-align: right;
}

.footer-action {
	display: inline-block;

	line-height: 36px;
	letter-spacing: 0.001em;
	color: #d2d2d2;
	vertical-align: top;
}

.footer-action:first-child {
	position: relative;
}

.footer-action:first-child::before {
	content: "";
	position: absolute;

	top: 12px;
	left: -26px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/footer-user.png");
	background-repeat: no-repeat;
	filter: saturate(0.4);
}

.footer-action:nth-child(2) {
	position: relative;
	margin-left: 58px;
}

.footer-action:nth-child(2)::before {
	content: "";
	position: absolute;

	top: 14px;
	left: -20px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/footer-compare.png");
	background-repeat: no-repeat;
	filter: saturate(0.4);
}

.footer-action:nth-child(3) {
	position: relative;
	margin-right: 0;
	margin-left: 55px;
}

.footer-action:nth-child(3)::before {
	content: "";
	position: absolute;

	top: 12px;
	left: -19px;

	width: 13px;
	height: 12px;

	background-color: transparent;
	background-image: url("../img/footer-cart.png");
	background-repeat: no-repeat;
	filter: saturate(0.4);
}

.footer-action:hover {
	color: #ebebeb;
}

.footer-action:active {
	color: #ebebeb;

	opacity: 0.3;
}

.footer-action:hover::before {
	filter: saturate(1);
}

.footer-action:active::before {
	filter: saturate(1);
}

.contact-number {
	margin-top: 34px;
}

.footer-academy {
	display: inline-block;
	margin-top: 48px;

	width: 27px;
	height: 34px;

	background: transparent url("../img/htmlacademy.png") no-repeat;

	filter: saturate(0.4);
}

.footer-academy:hover {
	filter: saturate(1);
}

.footer-academy:active {
	filter: saturate(1);

	opacity: 0.3;
}



/*---------------------------------------------------------------------------------------*/
/*POP-UP'ы*/
/*---------------------------------------------------------------------------------------*/

/*Группа I - Pop-up "Write us"-----------------------------------------------------------*/
.write-us {
	position: absolute;
	top: 1057px;
	left: 50%;
	margin-left: -480px;

	display: none;
	width: 960px;
	height: 553px;

	background-color: #ffffff;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	z-index: 10;
}

.write-form {
	padding-top: 43px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.form-block {
	display: block;
	padding-top: 53px;
	padding-right: 100px;
	padding-left: 100px;
	width: 760px;
	height: 377px;

	box-shadow: 0 50px #ffffff,
							0 -10px #ffffff,
							0 20px 40px rgba(0, 0, 0, 0.75);
}

.form-name,
.form-mail {
	width: 320px;
}

.form-name,
.form-mail,
.form-letter {
	margin-top: 10px;

	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;

	font-family: "open sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;

	background-color: #f2f2f2;

	border: none;
}

.form-block1{
	float: left;
	width: 360px;
}

.form-block2	{
	float: right;
	width: 360px;
}

.form-block3	{
	margin-top: 36px;

	float: left;
	width: 760px;
}

.form-letter	{
	width: 720px;
	height: 125px;
}

.form-submit	{
	position: relative;
	margin-top: 37px;

	width: 200px;
	height: 40px;

	font-family: "gilroy", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background: none;

	border: none;
 	cursor: pointer;
}

.form-submit::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0px;

	width: 200px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.form-submit:hover {
	background-color: #f0c52e;
}

.form-submit:active {
	color: #bd9b24;

	background-color: #f0c52e;

	outline: none;
}


/*II группа - Pop-up "Map-big"-----------------------------------------------------------*/
.map-large {
	position: absolute;
	top: 1852px;
	left: 50%;
	margin-left: -480px;

	display: none;
	width: 960px;
	height: 559px;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	z-index: 10;
}


/*III группа - Затемнение вокруг pop-up'ов-----------------------------------------------*/
.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;

	display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

	z-index: 5;
}


/*IV группа - Кнопка закрытия pop-up'ов--------------------------------------------------*/
.button-close {
	content: "";
	position: absolute;
	top: 22px;
	right: 22px;

	width: 54px;
	height: 54px;

	background-color: #f7e296;

	border-radius: 50%;

	transition: background-color 0.3s;
}

.button-close::before,
.button-close::after {
	content: "";
	position: absolute;
	top: 26px;
	right: 13px;

	width: 29px;
	height: 2px;

	background-color: #ffffff;

	transition: background-color 0.3s;
}

.button-close::before {
	transform: rotate(45deg);
}

.button-close::after {
	transform: rotate(-45deg);
}

.button-close:hover {
	background-color: #f0c52e;
}

.button-close:active {
	background-color: #f0c52e;
}

.button-close:active::before,
.button-close:active::after {
	background-color: #f5d76d;
}

/*---------------------------------------------------------------------------------------*/
/*ДОПОЛНИТЕЛЬНЫЕ ФУНКЦИОНАЛЬНЫЕ КЛАССЫ*/
/*---------------------------------------------------------------------------------------*/

/*I  группа - контейнеры для выравнивания------------------------------------------------*/
.container-main {
	margin-right: auto;
	margin-left: auto;

	width: 1160px;
}

.container-header {
	margin-right: auto;
	margin-left: auto;

	width: 1040px;
}


/*II группа - Псевдораспорка-------------------------------------------------------------*/
.clearfix:after {
	content: "";

	display: table;

	clear: both;
}


/*III группа - Внутренняя кнопка изображения---------------------------------------------*/
.button-action {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -100px;

	padding-top: 8px;
	padding-bottom: 8px;
	width: 200px;
	height: 22px;

	opacity: 0;
	z-index: 1;

	transition: opacity 0.3s,
							background-color 0.3s,
							color 0.3s;
}

.button-action::before {
	content: "";
	position: absolute;
	left: 0;
	margin-top: 6px;

	width: 200px;
	height: 8px;

	background-color: #f0c52e;

	z-index: -1;
}

.button-action:hover {
	background-color: #f0c52e;
}

.button-action:active {
	color: #bd9b24;
}
